:root {
  --animation-timer: 200ms;
  --aquent-orange: #f8971d;
  --background-color: #ddd;
  --border-radius: 0.25rem;
  --black: #333;
  --grey: #888;
  --light-grey: #ccc;
  --header-background: #666;
  --white: #fff;
  --primary-color: #367c2b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--black);
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: var(--header-background);
  color: var(--white);
  padding: 1rem 1.5rem;
  width: 100%;
}

button {
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
}


/*===========================================
  FLEX LAYOUT STYLES
===========================================*/
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.space-between-center {
  justify-content: space-between;
  align-items: center;
}

.notification {
  background-color: var(--light-grey);
  border: 0.0625rem solid var(--grey);
  border-radius: var(--border-radius);
  color: var(--black);
  font-size: 0.75rem;
  max-width: 31.25rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.notification .notification-header {
  border-bottom: 0.0625rem solid rgba(0,0,0,0.5);
  font-weight: 600;
  padding: 0 1rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: calc(100% + 2rem);
  margin-left: -1rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.content {
  padding: 1rem;
}

.user-list {
  padding: 0.25rem 0.5rem;
  background-color:rgba(0,0,0,0.2);
  margin-top: 1rem;
}

.user {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  border: 0.0625rem solid var(--primary-color);
  background-color: rgba(255,255,255,0.5);
  color: var(--black);
  margin: 0.5rem 0;
}

.user span {
  font-size: 0.75rem;
  font-style: italic;
}
